#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.vText {
  writing-mode: vertical-rl;
  font-size: xx-large;
  text-align: end;
  display: block;
  padding: 1;
}

.save {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
